<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flask App</title>
</head>
<body>
    <header>
        <div class="container">
            <h1 class="logo">My Web App</h1>
            <strong>
                <nav>
                    <ul class="menu">
                        <!-- This will call function in script.py which will trigger when we click on it -->
                        <li><a href="{{ url_for('home')}}">Home</a></li>
                        <li><a href="{{ url_for('about')}}">About</a></li>
                    </ul>
                </nav>
            </strong>
        </div>
    </header>
    <div class="container">
        <!-- All child content goes here -->
        {%block content%}
        {%endblock%}
    </div>
</body>
</html>